version: '2.3'

volumes:
  
services:
  
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    environment:
      - TZ=America/Toronto
      - WATCHTOWER_MONITOR_ONLY=true
      - WATCHTOWER_NOTIFICATIONS=email
      - WATCHTOWER_NOTIFICATION_EMAIL_FROM=${EMAIL}
      - WATCHTOWER_NOTIFICATION_EMAIL_TO=${EMAIL}
      - WATCHTOWER_NOTIFICATION_EMAIL_SERVER=smtp.fastmail.com
      - WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT=587
      - WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER=${EMAIL}
      - WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD=${FASTMAIL_PASSWORD}
      - WATCHTOWER_NOTIFICATION_EMAIL_DELAY=2
      - WATCHTOWER_NOTIFICATIONS_HOSTNAME=${HOST}
      - WATCHTOWER_NO_STARTUP_MESSAGE=true
      - WATCHTOWER_SCHEDULE=0 0 9 * * *
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
  
  zigbee2mqtt:
    image: koenkk/zigbee2mqtt
    container_name: zigbee2mqtt
    devices:
      - ${ZIGBEE_PATH}:/dev/ttyACM0
    environment:
      - TZ=America/Toronto
    volumes:
      - ${CONFIG}/zigbee2mqtt:/app/data
      - /run/udev:/run/udev:ro
    ports:
      - 8080:8080
    restart: unless-stopped
  
  zwavejs2mqtt:
    image: zwavejs/zwavejs2mqtt
    container_name: zwavejs2mqtt
    tty: true
    stop_signal: SIGINT
    devices:
      - ${ZWAVE_PATH}:/dev/zwave
    environment:
      - TZ=America/Toronto
    volumes:
      - ${CONFIG}/zwavejs2mqtt:/usr/src/app/store
    ports:
      - 8091:8091
      - 3000:3000
    restart: unless-stopped
